name: Sync Fork

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch: # on button click

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v1.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          owner: nix-community
          merge_method: rebase
          head: master
          base: feature/flakes
          personal_token: ${{ secrets.personal-access-token }}
